@import "variables";


.login-box{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background: #ffffff;
  z-index: 40;
  .login-title {
    margin-top: 40px;
    margin-bottom: 40px;
    color: $black-text;
  }
}
