$black-text: #2f2f2f;
$background-color: #eeeeee;
$event-box-background: #fcfcfc;
$event-box-hover: #f2f2f2;
$box-shadow-color: rgba(114, 114, 114, 0.65);
$scroll-color: #dc3545;
$text-color: #8d8d8d;